################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/server/ShopifyCart.API/obj
/server/ShopifyCart.API/bin/Debug/net8.0
/server/ShopifyCart.API/.vs/ShopifyCart.API
/server/ShopifyCart.API/.vs/ProjectEvaluation
/client/node_modules
/client/dist/client
/client/.angular/cache/16.2.16
/client/.vscode
client/.specstory/history/.what-is-this.md
.specstory/history/.what-is-this.md
