################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/server/ShopifyCart.API/obj
/server/ShopifyCart.API/bin/Debug/net8.0
/server/ShopifyCart.API/.vs/ShopifyCart.API
/server/ShopifyCart.API/.vs/ProjectEvaluation
